PORT=5000
MONGO_URI="Mongodb connection string"
ADMIN_PASSWORD="admin dashborad password"
JWT_SECRET="random secret key"
RESEND_API_KEY="resend.com api key"
EMAIL_FROM="Portfolio Contact <onboarding@your_verified_domain>""
EMAIL_TO="email where you want all contact messages"
NODE_ENV=development
CLOUDINARY_CLOUD_NAME="cloudinary name"
CLOUDINARY_API_KEY="cloudinary key"
CLOUDINARY_API_SECRET="cloudinary secret"

RENDER_EXTERNAL_URL=""
